%button{
    border: 1px solid #1868B1;	
    border-radius: 4px;
}
.button-primary{
    @extend %button;
    color: $color-white !important;
    background-color: $color-blue !important;
    font-weight: $font-weight-bold !important;
    font-family: $font-family-text !important;
    font-size: $font-size-regular !important;
    line-height: 19px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 8px;
    &:hover, &:active{
        color: $color-white !important;
        // background-color: $color-red-hover !important;
    }

    &:disabled{
        // background-color: $color-red;
    }
}
.button-outline-primary {
    @extend %button;
    color: $color-blue !important;
    background-color: $color-white !important;
    font-weight: $font-weight-bold !important;
    font-family: $font-family-text !important;
    font-size: $font-size-regular !important;
    line-height: 19px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 8px;
    &:hover, &:active{
        color: $color-blue !important;
        // background-color: $color-red-hover !important;
    }

    &:disabled{
        // background-color: $color-red;
    }
}