.page-item.active .page-link {
    background-color: $color-blue !important;
    border: 1px solid $color-blue !important;
    color:$color-white !important;
    // font-weight: $font-weight-semibold;
    outline:none !important;
    // outline-width: 0 !important;
    // box-shadow: 0 2px 4px 0 rgba(43,48,52,0.1);
   
}
ngb-pagination li {
    // outline:none !important;
    // outline-width: 0 !important;
    // box-shadow: none;
    // -moz-box-shadow: none;
    // -webkit-box-shadow: none;
    .active {
        
    }
    a {
        color: #333333 !important;	
        font-family: $font-family-text !important;
        font-size: $font-size-small !important;	
        line-height: 17px !important;	
        text-align: center !important;
        padding: 5px 10px 5px 10px !important;
        box-shadow: 0 2px 4px 0 rgba(43,48,52,0.1);
        
    }
    a:active{
        background-color: $color-white !important;
    }
   
    &:first-child a {
        margin-right: 10px !important;
        width: 30px !important;
        height: 30px !important;
        padding: 6px 0px !important;
        border-radius: 15px !important;
        text-align: center !important;
        font-size: 12px !important;
        line-height: 1.42857 !important;
        background-color: rgba(255,255,255,0.8)!important;	
        box-shadow: 0 2px 4px 0 rgba(43,48,52,0.1)!important;
        span {
        
        }
        &:before {
            /* provide your content here */
        }
    }
    &:last-child a {
        margin-left: 10px !important;
        width: 30px !important;
        height: 30px !important;
        padding: 6px 0px !important;
        border-radius: 15px !important;
        text-align: center !important;
        font-size: 12px !important;
        line-height: 1.42857 !important;
        background-color: rgba(255,255,255,0.8)!important;	
        box-shadow: 0 2px 4px 0 rgba(43,48,52,0.1)!important;
        span {
            // display: none;
        }
        &:before {
            /* provide your content here */
        }
    }
    &:nth-child(2) a {
        border-radius: 14px 0px 0px 14px;
        span {
            // display: none;
        }
        &:before {
            /* provide your content here */
        }
    }
    &:nth-last-child(2) a {
        border-radius: 0px 14px 14px 0px;
        span {
            // display: none;
        }
        &:before {
            /* provide your content here */
        }
    }
  }
  .arrow-left {
    width: 0;
    height: 0;
    margin-top: 2px;
    border-right: 9px solid $color-blue;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 8px solid transparent;
  }

  .arrow-right {
    width: 0;
    height: 0;
    margin-top: 2px;
    margin-left: 10px;
    border-left: 9px solid $color-blue;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
  }