table {
    thead {
        tr {
            th {
                color: #A1A1A1;
                font-family: $font-family-text;
                font-size: $font-size-small;
                font-weight: $font-weight-bold;
                letter-spacing: 0.41px;
                line-height: 22px;
                border: none !important;
            }
        }
    }
    tbody {
        tr {
            th {
                color: $color-black;
                font-family: $font-family-text;
                font-size: $font-size-regular;
                letter-spacing: 0.47px;
                line-height: 22px;
                border: none !important;
            }
            td {
                color: $color-black;
                font-family: $font-family-text;
                font-size: $font-size-regular;
                letter-spacing: 0.47px;
                line-height: 22px;
                border: none !important;
            }
        }
    }
}
.t-striped {
    background-color: rgba(24,104,177,0.05);
}
.s-status-false {
	color: $color-red;
	font-family: $font-family-text;
	font-size: $font-size-small;
	font-weight: $font-weight-bold;
	letter-spacing: 0.41px;
	line-height: 22px;
}
.s-status-true {
	color: $color-green;
	font-family: $font-family-text;
	font-size: $font-size-small;
	font-weight: $font-weight-bold;
	letter-spacing: 0.41px;
	line-height: 22px;
}
.img-table {
   width: 20px;
   cursor: pointer;
}