<section>
    <ngx-spinner
        bdColor="rgba(51,51,51,0.3)"
        size="medium"
        color="#1868B1"
        type = "ball-fussion"
    >
        <p style="font-size: 20px; color: white">{{textSpinner}}</p>
    </ngx-spinner>
    <div class="modal-header">
        <a  class="close"  (click)="closeModal()">
            <img src="./../../../../../../../../assets/img/close.png" style="width: 20px" alt="">
        </a>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <h1>{{title}}</h1>
            </div>
        </div>
        <form [formGroup]="createForm" id="createForm">
            <div class="form-group">
                <label class="modal-label" for="name">Nombre del Permiso</label>
                <input type="text" id="nombre" class="form-control" placeholder="Ingrese Nombre" formControlName="nombre"  [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" required>
                <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                    <div *ngIf="f.nombre.errors.required">*Nombre Requerido</div>
                </div>
            </div>
            <div class="form-group">
                <label class="modal-label" for="name">Descripcion del Permiso</label>
                <input type="text" id="descripcion" class="form-control" placeholder="Ingrese Descripcion" formControlName="descripcion"  [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }" required>
                <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
                    <div *ngIf="f.descripcion.errors.required">*Descripcion Requerida</div>
                </div>
            </div>
            <div class="form-group" *ngIf="update == true">
                <label class="modal-label" for="name">Estado</label>
                <select class="form-control"
                    id="status"
                    formControlName="status">
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </div>
            <button *ngIf="update == false" class="btn btn-lg button-primary btn-block" (click)="createMaintainers()">Agregar</button>
            <button *ngIf="update == true" class="btn btn-lg button-primary btn-block" (click)="updateMaintainers()">Actualizar</button>
        </form>
    </div>
</section>
