<section>
    <ngx-spinner
        bdColor="rgba(51,51,51,0.3)"
        size="medium"
        color="#1868B1"
        type = "ball-fussion"
    >
        <p style="font-size: 20px; color: white">{{textSpinner}}</p>
    </ngx-spinner>
    <div class="modal-header">
        <a  class="close"  (click)="closeModal()">
            <img src="./../../../../../../../../assets/img/close.png" style="width: 20px" alt="">
        </a>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <h1>{{title}}</h1>
            </div>
        </div>

        <form [formGroup]="createForm" id="createForm">

            <div class="form-group">
                <label class="modal-label" for="name">Perfil</label>
                <select class="form-control"
                    id="id_perfil"
                    formControlName="id_perfil"
                    [ngClass]="{ 'is-invalid': submitted && f.id_perfil.errors }"
                    required>
                    <option value="">Seleccione Perfil</option>
                    <option *ngFor="let p of perfilmantenedorOne" [value]="p.id">
                        {{p.nombre}}
                    </option>
                </select>
                <div *ngIf="submitted && f.id_perfil.errors" class="invalid-feedback">
                    <div *ngIf="f.id_perfil.errors.required">*Perfil Requerido</div>
                </div>
            </div>

            <div class="form-group">
                <label class="modal-label" for="name">Permiso</label>
                <select class="form-control"
                    id="id_mantenedor"
                    formControlName="id_mantenedor"
                    [ngClass]="{ 'is-invalid': submitted && f.id_mantenedor.errors }"
                    required>
                    <option value="">Seleccione Permiso</option>
                    <option *ngFor="let m of perfilmantenedorTwo" [value]="m.id">
                        {{m.nombre}}
                    </option>
                </select>
                <div *ngIf="submitted && f.id_mantenedor.errors" class="invalid-feedback">
                    <div *ngIf="f.id_mantenedor.errors.required">*Permiso Requerido</div>
                </div>
            </div>

            <div class="form-group" *ngIf="update == true">
                <label class="modal-label" for="name">Estado</label>
                <select class="form-control"
                    id="status"
                    formControlName="status">
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </div>

            <button *ngIf="update == false" class="btn btn-lg button-primary btn-block" (click)="createProfile_Maintainer()">Agregar</button>
            <button *ngIf="update == true" class="btn btn-lg button-primary btn-block" (click)="updateProfile_Maintainer()">Actualizar</button>
        
        </form>
    </div>
</section>
