<ngx-spinner
        bdColor="rgba(51,51,51,0.3)"
        size="medium"
        color="#1868B1"
        type = "ball-fussion"
    >
    <p style="font-size: 20px; color: white">{{textSpinner}}</p>
</ngx-spinner>
<section class="container-fluid" style="padding-top:2rem">
    <div class="row">
        <div class="col-12">
            <h2>Mantenedor de Usuarios</h2>
            <div class="cardForm">
                <form>
                    <div class="row">
                        <div class="col-4">
                            <input class="form-control ml-2" autocomplete="off" type="text" placeholder="Filtrar..." name="searchTerm" [(ngModel)]="userService.searchTerm"/>
                        </div>
                        <div class="col-2">
                            <!-- <span class="ml-3" *ngIf="citiesService.loading$ | async">Loading...</span> -->
                        </div> 
                        <div class="col-6 d-flex justify-content-end">
                            <button (click)="openModal(ModalInsert)" class="btn button-primary">+ Añadir Usuario</button>
                        </div>  
                    </div>
                    <table style="margin-top: 2rem;" class="table">
                        <thead>
                            <tr>
                                <th width="5%" scope="col">ID</th>
                                <th width="15%" scope="col" sortable="run" (sort)="onSort($event)">Run</th>
                                <th width="15%" scope="col" sortable="nombre" (sort)="onSort($event)">Nombre</th>
                                <th width="15%" scope="col" sortable="apellido" (sort)="onSort($event)">Apellido</th>
                                <th width="15%" scope="col" sortable="password" (sort)="onSort($event)">Contraseña</th>
                                <th width="15%" scope="col" sortable="correo" (sort)="onSort($event)">Correo</th>
                                <th width="10%" scope="col" sortable="status" (sort)="onSort($event)">Estado</th>
                                <th width="10%" scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let u of user$ | async; let indexs = index" [ngClass]="{'t-striped': 0 === indexs % 2}">
                                <td width="5%">{{ u.id }}</td>
                                <td>
                                    <ngb-highlight [result]="u.run" [term]="userService.searchTerm"></ngb-highlight>
                                </td>

                                <td>
                                    <ngb-highlight [result]="u.nombre" [term]="userService.searchTerm"></ngb-highlight>
                                </td>

                                <td>
                                    <ngb-highlight [result]="u.apellido" [term]="userService.searchTerm"></ngb-highlight>
                                </td>

                                <td>
                                    <ngb-highlight [result]="u.password" [term]="userService.searchTerm"></ngb-highlight>
                                </td>

                                <td>
                                    <ngb-highlight [result]="u.correo" [term]="userService.searchTerm"></ngb-highlight>
                                </td> 

                                <td>
                                    <span *ngIf="u.status == 1" class="s-status-true">Activo</span>
                                    <span *ngIf="u.status == 0" class="s-status-false">Inactivo</span>
                                </td>

                                <td>
                                    <span><img src="../../../../../../assets/img/edit.png" class="img-table" (click)="openModalEdit(ModalInsert, u.id, u.run, u.nombre, u.apellido, u.password, u.correo, u.status)" alt=""></span>
                                    <span class="m-l-1"><img src="../../../../../../assets/img/delete.png" class="img-table" (click)="openModalDelete(modalDelete, u.id, u.run)" alt=""></span>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between p-2">
                        <ngb-pagination
                            [collectionSize]="total$ | async" [(page)]="userService.page" [pageSize]="userService.pageSize">
                            <ng-template ngbPaginationPrevious><div class="arrow-left"></div></ng-template>
                            <ng-template ngbPaginationNext><div class="arrow-right"></div></ng-template>
                        </ngb-pagination>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<ng-template #ModalInsert let-modal>
    <app-modal-insert-user
    [id]="id"
    [run]="run"
    [nombre] ="nombre"
    [apellido]="apellido"
    [password]="password"
    [correo]="correo"
    [status]="status"
    (closeModals)="closeModal()"
    (refreshtable)="refreshtable()">
    </app-modal-insert-user>
</ng-template>
<ng-template #modalDelete let-modal>
    <app-modal-delete
    [name]="run"
    (closeModals)="closeModal()"
    (deleteData)="delete()">
    </app-modal-delete>
</ng-template>
