$color-black: #333333;
$color-black-light: #222222;
$color-blue: #1868B1;
$color-white:#ffffff;
$color-grey:#A1A1A1;
$color-green:#17C800;
$color-red:#E5303B;

.p-t-1 {
    padding-top: 1rem;
}
.p-r-2 {
    padding-right: 2rem;
}
.m-l-1 {
    margin-left: 1rem;
}