<section>
    <ngx-spinner
        bdColor="rgba(51,51,51,0.3)"
        size="medium"
        color="#1868B1"
        type = "ball-fussion"
    >
        <p style="font-size: 20px; color: white">{{textSpinner}}</p>
    </ngx-spinner>
    <div class="modal-header">
        <a  class="close"  (click)="closeModal()">
            <img src="./../../../../../../../../assets/img/close.png" style="width: 20px" alt="">
        </a>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <h1>{{title}}</h1>
            </div>
        </div>
        <form [formGroup]="createForm" id="createForm">
            <div class="form-group">
                <label class="modal-label" for="name">Run del Usuario</label>
                <input type="text" id="run" class="form-control" placeholder="Ingrese Run" formControlName="run"  [ngClass]="{ 'is-invalid': submitted && f.run.errors }" required>
                <div *ngIf="submitted && f.run.errors" class="invalid-feedback">
                    <div *ngIf="f.run.errors.required">*Run Requerido</div>
                </div>
            </div>
            <div class="form-group">
                <label class="modal-label" for="name">Nombre del Usuario</label>
                <input type="text" id="nombre" class="form-control" placeholder="Ingrese Nombre" formControlName="nombre"  [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" required>
                <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                    <div *ngIf="f.nombre.errors.required">*Nombre Requerido</div>
                </div>
            </div>
            <div class="form-group">
                <label class="modal-label" for="name">Apellido del Usuario</label>
                <input type="text" id="apellido" class="form-control" placeholder="Ingrese Apellido" formControlName="apellido"  [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }" required>
                <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
                    <div *ngIf="f.apellido.errors.required">*Apellido Requerido</div>
                </div>
            </div>
            <div class="form-group">
                <label class="modal-label" for="name">Contraseña del Usuario</label>
                <input type="text" id="password" class="form-control" placeholder="Ingrese Contraseña" formControlName="password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">*Contraseña Requerida</div>
                </div>
            </div>
            <div class="form-group">
                <label class="modal-label" for="name">Correo del Usuario</label>
                <input type="text" id="correo" class="form-control" placeholder="Ingrese Correo" formControlName="correo"  [ngClass]="{ 'is-invalid': submitted && f.correo.errors }" required>
                <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
                    <div *ngIf="f.correo.errors.required">*Correo Requerido</div>
                </div>
            </div>
            <div class="form-group" *ngIf="update == true">
                <label class="modal-label" for="name">Estado</label>
                <select class="form-control"
                    id="status"
                    formControlName="status">
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </div>
            <button *ngIf="update == false" class="btn btn-lg button-primary btn-block" (click)="createUser()">Agregar</button>
            <button *ngIf="update == true" class="btn btn-lg button-primary btn-block" (click)="updateUser()">Actualizar</button>
        </form>
    </div>
</section>
