<section class="text-center vh-100">
    <form class="form-signin" [formGroup]="loginForm" id="loginForm" (ngSubmit)="login()">
        <img src="./../../../assets/img/camion.png" alt="" class="img">
        <h4 class="text-center">Gestión de camiones</h4>
        <br>
        <div class="form-group">
            <label class="label-login float-left">Nombre usuario</label>
            <input type="text" id="userName" class="form-control" placeholder="Escriba aquí su nombre de usuario"
                formControlName="userName" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" required>
            <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                <div *ngIf="f.userName.errors.required">*nombre usuario requerido</div>
            </div>
        </div>
        <div class="form-group">
            <label class="label-login float-left">Contraseña</label>
            <input type="password" id="pass" class="form-control" placeholder="Escriba la contraseña"
                formControlName="pass" [ngClass]="{ 'is-invalid': submitted && f.pass.errors }" required>
            <div *ngIf="submitted && f.pass.errors" class="invalid-feedback">
                <div *ngIf="f.pass.errors.required">*Contraseña requerida</div>
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" (click)="login()">Ingresar</button>
        <br>
        <p class="text-center small">¿No estas registrado? <a href="#">Haz click aqui</a></p>
    </form>
</section>