<section>
    <ngx-spinner
        bdColor="rgba(51,51,51,0.3)"
        size="medium"
        color="#1868B1"
        type = "ball-fussion"
    >
        <p style="font-size: 20px; color: white">{{textSpinner}}</p>
    </ngx-spinner>
    <div class="modal-header">
        <a  class="close"  (click)="closeModal()">
            <img src="./../../../../../../../assets/img/close.png" style="width: 20px" alt="">
        </a>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <h1>{{title}}</h1>
            </div>
        </div>
        <form [formGroup]="createForm" id="createForm">
            <div class="form-group">
                <label class="modal-label" for="name">Nombre Ciudad</label>
                <input type="text" id="name" class="form-control" placeholder="Ingrese ciudad" formControlName="name"  [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required>
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">*Ciudad Requerido</div>
                </div>
            </div>
            <div class="form-group">
                <label class="modal-label" for="name">Pais</label>
                <select class="form-control"
                    id="country"
                    formControlName="country"
                    [ngClass]="{ 'is-invalid': submitted && f.country.errors }"
                    required>
                    <option value="">Seleccione Pais</option>
                    <option value="Chile">Chile</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Colombia">Colombia</option>
                </select>
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">*Pais Requerido</div>
                </div>
            </div>
            <div class="form-group">
                    <label class="modal-label" for="name">Población</label>
                    <input type="text" id="population" class="form-control" placeholder="Ingrese población" formControlName="population"  [ngClass]="{ 'is-invalid': submitted && f.population.errors }" required>
                    <div *ngIf="submitted && f.population.errors" class="invalid-feedback">
                        <div *ngIf="f.population.errors.required">*Población Requerido</div>
                    </div>
            </div>
            <div class="form-group" *ngIf="update == true">
                <label class="modal-label" for="name">Estado</label>
                <select class="form-control"
                    id="status"
                    formControlName="status">
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </div>
            <button *ngIf="update == false" class="btn btn-lg button-primary btn-block" (click)="createCities()">Agregar</button>
            <button *ngIf="update == true" class="btn btn-lg button-primary btn-block" (click)="updateCities()">Actualizar</button>
        </form>
    </div>
</section>
