<section>
    <div class="nav-logo">
        <div class="row">
            <div class="col-4">
                <img class="logo" src="./../../../assets/img/camion.png" alt="">
            </div>
            <div class="col-4 p-t-1">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <span class="title">Gestión de Camiones</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="activo">INICIO  <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/home/maintainer-demo']" routerLinkActive="activo">DEMO  <span class="sr-only">(current)</span></a>
                </li>
                <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" ngbDropdown *ngFor="let menus of menu">
                            <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown1" role="button">
                                {{menus.name}}
                            </a>
                            <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                                <a *ngFor="let subMenu of menus.children" [routerLink]="[subMenu.path]" ngbDropdownItem href="#" (click)="$event.preventDefault()">{{subMenu.name}}</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</section>
