<ngx-spinner
        bdColor="rgba(51,51,51,0.3)"
        size="medium"
        color="#1868B1"
        type = "ball-fussion"
    >
    <p style="font-size: 20px; color: white">{{textSpinner}}</p>
</ngx-spinner>
<section class="container-fluid" style="padding-top:2rem">
    <div class="row">
        <div class="col-12">
            <h2>Mantenedor de Ciudades (DEMO)</h2>
            <div class="cardForm">
                <form>
                    <div class="row">
                        <div class="col-4">
                            <input class="form-control ml-2" autocomplete="off" type="text" placeholder="Filtrar..." name="searchTerm" [(ngModel)]="citiesService.searchTerm"/>
                        </div>
                        <div class="col-2">
                            <!-- <span class="ml-3" *ngIf="citiesService.loading$ | async">Loading...</span> -->
                        </div> 
                        <div class="col-6 d-flex justify-content-end">
                            <button (click)="openModal(ModalInsert)" class="btn button-primary">+ Nueva ciudad</button>
                        </div>  
                    </div>
                    <table style="margin-top: 2rem;" class="table">
                        <thead>
                            <tr>
                                <th width="5%" scope="col">ID</th>
                                <th width="40%" scope="col" sortable="name" (sort)="onSort($event)">Ciudad</th>
                                <th width="15%" scope="col" sortable="population" (sort)="onSort($event)">Poblacion</th>
                                <th width="20%" scope="col" sortable="country" (sort)="onSort($event)">Pais</th>
                                <th width="10%" scope="col" sortable="status" (sort)="onSort($event)">Estado</th>
                                <th width="10%" scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let city of cities$ | async; let indexs = index" [ngClass]="{'t-striped': 0 === indexs % 2}">
                                <td width="5%">{{ city.id }}</td>
                                <td>
                                    <ngb-highlight [result]="city.name" [term]="citiesService.searchTerm"></ngb-highlight>
                                </td>
                                <td>
                                    <ngb-highlight [result]="city.population" [term]="citiesService.searchTerm"></ngb-highlight>
                                    </td>
                                <td>
                                    <ngb-highlight [result]="city.country" [term]="citiesService.searchTerm"></ngb-highlight>
                                    </td>
                                    
                                <td>
                                    <span *ngIf="city.status == 1" class="s-status-true">Activo</span>
                                    <span *ngIf="city.status == 0" class="s-status-false">Inactivo</span>
                                </td>
                                <td>
                                    <span><img src="../../../../../assets/img/edit.png" class="img-table" (click)="openModalEdit(ModalInsert, city.id, city.name, city.country, city.population, city.status)" alt=""></span>
                                    <span class="m-l-1"><img src="../../../../../assets/img/delete.png" class="img-table" (click)="openModalDelete(modalDelete, city.id, city.name)" alt=""></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between p-2">
                        <ngb-pagination
                            [collectionSize]="total$ | async" [(page)]="citiesService.page" [pageSize]="citiesService.pageSize">
                            <ng-template ngbPaginationPrevious><div class="arrow-left"></div></ng-template>
                            <ng-template ngbPaginationNext><div class="arrow-right"></div></ng-template>
                        </ngb-pagination>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<ng-template #ModalInsert let-modal>
        <app-modal-insert-demo
        [id]="id"
        [name]="name"
        [country] ="country"
        [population]="population"
        [status]="status"
        (closeModals)="closeModal()">
        </app-modal-insert-demo>
</ng-template>
<ng-template #modalDelete let-modal>
        <app-modal-delete
        [name]="name"
        (closeModals)="closeModal()"
        (deleteData)="delete()">
        </app-modal-delete>
</ng-template>
