<ngx-spinner
        bdColor="rgba(51,51,51,0.3)"
        size="medium"
        color="#1868B1"
        type = "ball-fussion"
    >
    <p style="font-size: 20px; color: white">{{textSpinner}}</p>
</ngx-spinner>
<section class="container-fluid" style="padding-top:2rem">
    <div class="row">
        <div class="col-12">
            <h2>Mantenedor Permisos de Usuarios</h2>
            <div class="cardForm">
                <form>
                    <div class="row">
                        <div class="col-4">
                            <input class="form-control ml-2" autocomplete="off" type="text" placeholder="Filtrar..." name="searchTerm" [(ngModel)]="profile_maintainerService.searchTerm"/>
                        </div>
                        <div class="col-2">
                            <!-- <span class="ml-3" *ngIf="citiesService.loading$ | async">Loading...</span> -->
                        </div> 
                        <div class="col-6 d-flex justify-content-end">
                            <button (click)="openModal(ModalInsert)" class="btn button-primary">+ Añadir Permiso de Usuario</button>
                        </div>  
                    </div>
                    <table style="margin-top: 2rem;" class="table">
                        <thead>
                            <tr>
                                <th width="5%" scope="col">ID</th>
                                <th width="10%" scope="col" sortable="id_perfil" (sort)="onSort($event)">ID Perfil</th>
                                <th width="25%" scope="col" sortable="perfil" (sort)="onSort($event)">Perfil</th>
                                <th width="10%" scope="col" sortable="id_mantenedor" (sort)="onSort($event)">ID Mantenedor</th>
                                <th width="25%" scope="col" sortable="mantenedor" (sort)="onSort($event)">Mantenedor</th>
                                <th width="15%" scope="col" sortable="status" (sort)="onSort($event)">Estado</th>
                                <th width="10%" scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pm of profile_maintainer$ | async; let indexs = index" [ngClass]="{'t-striped': 0 === indexs % 2}">
                                <td width="5%">{{ pm.id }}</td>

                                <td>
                                    <ngb-highlight [result]="pm.id_perfil" [term]="profile_maintainerService.searchTerm"></ngb-highlight>
                                </td>

                                <td>
                                    <ngb-highlight [result]="pm.perfil" [term]="profile_maintainerService.searchTerm"></ngb-highlight>
                                </td>

                                <td>
                                    <ngb-highlight [result]="pm.id_mantenedor" [term]="profile_maintainerService.searchTerm"></ngb-highlight>
                                </td>

                                <td>
                                    <ngb-highlight [result]="pm.mantenedor" [term]="profile_maintainerService.searchTerm"></ngb-highlight>
                                </td>

                                <td>
                                    <span *ngIf="pm.status == 1" class="s-status-true">Activo</span>
                                    <span *ngIf="pm.status == 0" class="s-status-false">Inactivo</span>
                                </td>

                                <td>
                                    <span><img src="../../../../../../assets/img/edit.png" class="img-table" (click)="openModalEdit(ModalInsert, pm.id, pm.id_perfil, pm.id_mantenedor, pm.status)" alt=""></span>
                                    <span class="m-l-1"><img src="../../../../../../assets/img/delete.png" class="img-table" (click)="openModalDelete(modalDelete, pm.id, pm.id_perfil)" alt=""></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between p-2">
                        <ngb-pagination
                            [collectionSize]="total$ | async" [(page)]="profile_maintainerService.page" [pageSize]="profile_maintainerService.pageSize">
                            <ng-template ngbPaginationPrevious><div class="arrow-left"></div></ng-template>
                            <ng-template ngbPaginationNext><div class="arrow-right"></div></ng-template>
                        </ngb-pagination>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<ng-template #ModalInsert let-modal>
    <app-modal-insert-profile-maintainer
    [id]="id"
    [id_perfil]="id_perfil"
    [id_mantenedor] ="id_mantenedor"
    [status]="status"
    (closeModals)="closeModal()" (refreshtable)="refreshtable()">
    </app-modal-insert-profile-maintainer>
</ng-template>
<ng-template #modalDelete let-modal>
    <app-modal-delete
    [name]="id"
    (closeModals)="closeModal()"
    (deleteData)="delete()">
    </app-modal-delete>
</ng-template>
