/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap';
@import './styles/abstracts/variables';
@import './styles/base/typography';
@import './styles/layout/navigation';
@import './styles/components/buttons';
@import './styles/components/input';
@import './styles/components/modal';
@import './styles/components/form';
@import './styles/components/table';
@import './styles/components/pagination';
@import '~ngx-toastr/toastr-bs4-alert';
@import './styles/components/toastr';
// @import '~ngx-toastr/toastr';
html,
body {
  height: 100%;
  background-color: #E7EFF7;
  overflow-x: hidden;
  margin:0;padding:0;
}