//TYPEFACE
$font-family-text: 'Lato', sans-serif;


//FONT-SIZE
$font-size-x-small: 12px;
$font-size-small: 14px;
$font-size-regular: 16px;
$font-size-regular-x2: 18px;
$font-size-large: 20px;
$font-size-x-large: 24px;

//FONT-WEIGHT
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

//GENERAL
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: $font-weight-regular;
    font-family: $font-family-text;
    // color: $color-black;
}

h1 {
    font-size: $font-size-x-large;
    letter-spacing: 0.7px;
    // color: white;
}

h2 {
    font-size: $font-size-regular;
    color: $color-blue;
    font-family: $font-family-text;
    font-weight: $font-weight-bold;
    letter-spacing: 0.47px;
    line-height: 22px;
}

h3 {
    font-size:$font-size-large;
}

p, body {
    font-size: $font-size-regular;
    font-family: $font-family-text !important;
    font-weight: $font-weight-regular;
    letter-spacing: 0.47px;
    // color: $color-black;
}
